[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon=intellij-idea
Exec=/home/nic3king/dirme/bin/idea %f
Comment=Capable and Ergonomic IDE for JVM
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-idea
