default_layout "compact"
scrollback_editor "/usr/bin/nvim"
theme "catppuccin-frappe"
simplified_ui true
pane_frames false

keybinds clear-defaults=true {

    locked {
        bind "Delete" { SwitchToMode "Normal"; }
    }

    shared_except "locked" {
        bind "Delete" { SwitchToMode "Locked"; }
    }

    shared_except "tmux" "locked" {
        bind "Ctrl b" { SwitchToMode "Tmux"; }
    }

    // There is no need for these modes for now
    session {}
    pane {}

    // Common bindings
    // Pane Movement
    shared_among "tmux" "move" "resize" {
        bind "[" { FocusPreviousPane; }
        bind "]" { FocusNextPane; }
        bind "{" { MovePaneBackwards; }
        bind "}" { MovePane; }
        bind "h" { MoveFocus "Left"; }
        bind "l" { MoveFocus "Right"; }
        bind "j" { MoveFocus "Down"; }
        bind "k" { MoveFocus "Up"; }
        bind "Left" { MoveFocus "Left"; }
        bind "Right" { MoveFocus "Right"; }
        bind "Down" { MoveFocus "Down"; }
        bind "Up" { MoveFocus "Up"; }
        bind "Space" { NextSwapLayout; }
        bind "x" { CloseFocus; }
        bind "z" { TogglePaneFrames; }
        bind "w" { ToggleFloatingPanes; }
        bind "e" { TogglePaneEmbedOrFloating; }
    }

    // Escape to normal mode
    shared_among "resize" "move" "tab" {
        bind "Ctrl c" "Esc" "q" { SwitchToMode "Tmux"; }
        bind "i" { SwitchToMode "Normal"; }
    }

    shared_among "renamepane" "renametab" {
        bind "Ctrl c" "Esc" { SwitchToMode "Tmux"; }
        bind "Enter" { SwitchToMode "Normal"; }
    }

    // Mode bindings
    tmux {
        bind "Ctrl b" "Ctrl c" "Esc" "i" "q" { SwitchToMode "Normal"; }
        bind "Ctrl s" { SwitchToMode "Scroll"; }
        bind "Ctrl d" { Detach; }
        bind "Ctrl q" { Quit; }
        bind "Ctrl t" { SwitchToMode "Tab"; }
        bind "m" { SwitchToMode "Move"; }
        bind "=" { SwitchToMode "Resize"; }

        // Tab config
        bind "t" { NewTab; SwitchToMode "Normal"; }
        bind "H" { GoToPreviousTab; }
        bind "L" { GoToNextTab; }
        bind "e" { SwitchToMode "RenameTab"; }

        // Pane config
        bind "n" { NewPane; }
        bind "s" { NewPane "Down"; }
        bind "v" { NewPane "Right"; }
        bind "f" { ToggleFocusFullscreen; }
        bind "r" { SwitchToMode "RenamePane"; PaneNameInput 0;}
    }

    resize {
        bind "H" "Left" { Resize "Increase Left"; }
        bind "J" "Down" { Resize "Increase Down"; }
        bind "K" "Up" { Resize "Increase Up"; }
        bind "L" "Right" { Resize "Increase Right"; }
        bind "=" "+" { Resize "Increase"; }
        bind "_" "-" { Resize "Decrease"; }
    }

    move {
        bind "H" "Left" { MovePane "Left"; }
        bind "J" "Down" { MovePane "Down"; }
        bind "K" "Up" { MovePane "Up"; }
        bind "L" "Right" { MovePane "Right"; }
    }

    tab {
        bind "r" { SwitchToMode "RenameTab"; TabNameInput 0; }
        bind "h" "Left" "Up" "k" { GoToPreviousTab; }
        bind "l" "Right" "Down" "j" { GoToNextTab; }
        bind "n" { NewTab; SwitchToMode "Normal"; }
        bind "x" { CloseTab; SwitchToMode "Normal"; }
        // bind "s" { ToggleActiveSyncTab; SwitchToMode "Normal"; }
        bind "1" { GoToTab 1; }
        bind "2" { GoToTab 2; }
        bind "3" { GoToTab 3; }
        bind "4" { GoToTab 4; }
        bind "5" { GoToTab 5; }
        bind "6" { GoToTab 6; }
        bind "7" { GoToTab 7; }
        bind "8" { GoToTab 8; }
        bind "9" { GoToTab 9; }
    }

    // Paging
    scroll {
        bind "Ctrl c" "Esc" "q" { ScrollToBottom; SwitchToMode "Tmux"; }
        bind "i" { SwitchToMode "Normal"; ScrollToBottom; }

        bind "e" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { SwitchToMode "EnterSearch"; SearchInput 0; }
        bind "Ctrl c" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
    }

    search {
        bind "Ctrl c" "Esc" "q" { ScrollToBottom; SwitchToMode "Tmux"; }
        bind "i" { SwitchToMode "Normal"; ScrollToBottom; }

        bind "j" "Down" { ScrollDown; }
        bind "k" "Up" { ScrollUp; }
        bind "Ctrl f" "PageDown" "Right" "l" { PageScrollDown; }
        bind "Ctrl b" "PageUp" "Left" "h" { PageScrollUp; }
        bind "d" { HalfPageScrollDown; }
        bind "u" { HalfPageScrollUp; }
        bind "n" { Search "down"; }
        bind "p" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }

    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "Scroll"; }
        bind "Enter" { SwitchToMode "Search"; }
    }

}

plugins {
    // tab-bar { path "tab-bar"; }
    // status-bar { path "status-bar"; }
    // strider { path "strider"; }
    // compact-bar { path "compact-bar"; }
}

themes {
    dracula {
        fg 248 248 242
        bg 40 42 54
        red 255 85 85
        green 80 250 123
        yellow 241 250 140
        blue 98 114 164
        magenta 255 121 198
        orange 255 184 108
        cyan 139 233 253
        black 0 0 0
        white 255 255 255
    }
}

